/* Sass Document */
/********** vars **********/
/********** mixins **********/
/********** media queries **********/
/********** styles **********/
html, body {
  position: relative; }

body {
  background-color: #fff; }

/* mobile views */
.mobViews {
  display: block; }

.mobPho {
  width: 303px;
  margin: 10px auto;
  padding: 0; }

.mobFea {
  margin: 0 20px;
  padding: 0; }

.mobFea h1 {
  font-family: "open-sans-condensed", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #263b94;
  text-transform: uppercase; }

.mobFea p {
  font-family: "open-sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4c4c4c;
  margin: 3px 0 15px 0;
  padding: 0; }

.mobFea h2 {
  font-family: "open-sans-condensed", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #263b94;
  text-transform: uppercase;
  margin: 3px 0;
  padding: 0; }

.mobFea h2 a {
  color: #263b94; }

.mobSlider {
  margin: 20px 0 0 0; }

.mobSearch {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #263b94;
  text-align: center;
  color: #fff;
  padding: 15px 0; }

.mobSearch input {
  background-color: #263b94;
  width: 275px;
  height: 35px;
  font-family: "open-sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 10px; }

.slider {
  display: none; }
  @media only screen and (min-width: 480px) {
    .slider {
      display: block; } }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  	/*text-align: center;
  	font-size: 18px;
  	/* Center slide text vertically *
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	-webkit-justify-content: center;
  	justify-content: center;
  	-webkit-box-align: center;
  	-ms-flex-align: center;
  	-webkit-align-items: center;
  	align-items: center;
          width: 100%;
          padding-top: 50px;
          padding-bottom: 50px;*/ }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 150px; }
  @media only screen and (max-width: 375px) {
    .swiper-slide {
      width: 200px;
      height: 150px; } }
  @media only screen and (min-width: 480px) {
    .swiper-slide {
      width: 300px;
      height: 200px; } }
  @media only screen and (min-width: 768px) {
    .swiper-slide {
      width: 400px;
      height: 400px; } }
  @media only screen and (min-width: 1024px) {
    .swiper-slide {
      width: 761px;
      height: 450px; } }
  @media only screen and (min-width: 1200px) {
    .swiper-slide {
      width: 761px;
      height: 450px; } }

.swiper-pagination {
  /*position: absolute;
  top: 400px;*/ }

/*.swiper-slide img {
	width: 100%;
	height: auto;
}
.nonSwiper {
	width: 303px;
	display: block;
	@include marC;
	@include responsive(xs) {
		display: none;
	}
}*/
.logo {
  margin: 20px 0;
  padding: 0;
  min-width: 100px; }

nav {
  margin: 20px 0;
  padding: 0; }

.navMain {
  font-family: "open-sans-condensed", sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #263b94;
  text-align: right;
  text-transform: uppercase;
  display: none; }
  @media only screen and (max-width: 375px) {
    .navMain {
      display: none; } }
  @media only screen and (min-width: 480px) {
    .navMain {
      display: none; } }
  @media only screen and (min-width: 768px) {
    .navMain {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    .navMain {
      font-size: 26px;
      display: block; } }
  @media only screen and (min-width: 1200px) {
    .navMain {
      font-size: 28px;
      display: block; } }

.navMain ul {
  margin: 0;
  padding: 0; }

.navMain li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 0 0 20px;
  padding: 0; }

.navMain a {
  color: #263b94; }

.navSec {
  font-family: "open-sans-condensed", sans-serif;
  font-size: 30px;
  color: #263b94;
  text-align: right;
  display: none; }
  @media only screen and (max-width: 375px) {
    .navSec {
      display: none; } }
  @media only screen and (min-width: 480px) {
    .navSec {
      display: none; } }
  @media only screen and (min-width: 768px) {
    .navSec {
      display: none; } }
  @media only screen and (min-width: 1024px) {
    .navSec {
      font-size: 30px;
      display: block; } }
  @media only screen and (min-width: 1200px) {
    .navSec {
      font-size: 30px;
      display: block; } }

.navSec ul {
  margin: 0;
  padding: 0; }

.navSec li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 0 0 5px;
  padding: 0; }

.navSec a {
  color: #263b94; }

.navMobile {
  font-size: 23px;
  color: #263b94;
  text-align: right;
  display: block; }
  @media only screen and (min-width: 768px) {
    .navMobile {
      display: block;
      font-size: 30px; } }
  @media only screen and (min-width: 1024px) {
    .navMobile {
      display: none; } }
  @media only screen and (min-width: 1200px) {
    .navMobile {
      display: none; } }

/* non mobile views */
.nonMob {
  display: none; }

.prodSearch {
  text-align: center;
  color: #263b94;
  margin: 20px 0;
  padding: 0;
  display: none; }

.prodSearch input {
  width: 300px;
  height: 20px;
  font-family: "open-sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border-style: solid;
  border-color: #263b94;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 10px; }
  @media only screen and (max-width: 375px) {
    .prodSearch input {
      width: 300px;
      height: 20px;
      font-size: 12px;
      border-radius: 5px;
      padding: 0 10px; } }
  @media only screen and (min-width: 480px) {
    .prodSearch input {
      width: 400px;
      height: 30px;
      font-size: 16px;
      border-radius: 10px;
      padding: 0 10px; } }
  @media only screen and (min-width: 768px) {
    .prodSearch input {
      width: 500px;
      height: 40px;
      font-size: 18px;
      border-radius: 10px;
      padding: 0 10px; } }
  @media only screen and (min-width: 1024px) {
    .prodSearch input {
      width: 650px;
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
      padding: 0 36px; } }
  @media only screen and (min-width: 1200px) {
    .prodSearch input {
      width: 650px;
      height: 50px;
      font-size: 22px;
      border-radius: 10px;
      padding: 0 36px; } }

.relSearch {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 0; }
  @media only screen and (max-width: 375px) {
    .relSearch {
      width: 300px; } }
  @media only screen and (min-width: 480px) {
    .relSearch {
      width: 400px; } }
  @media only screen and (min-width: 768px) {
    .relSearch {
      width: 500px; } }
  @media only screen and (min-width: 1024px) {
    .relSearch {
      width: 650px; } }
  @media only screen and (min-width: 1200px) {
    .relSearch {
      width: 650px; } }

.relSearch .icoSearch {
  position: absolute;
  top: 16px;
  left: 8px;
  font-size: 19px;
  display: none; }
  @media only screen and (min-width: 1024px) {
    .relSearch .icoSearch {
      display: block; } }
  @media only screen and (min-width: 1200px) {
    .relSearch .icoSearch {
      display: block; } }

section.intro h1 {
  font-family: "open-sans-condensed", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #263b94;
  text-transform: uppercase; }
  @media only screen and (max-width: 375px) {
    section.intro h1 {
      font-size: 22px; } }
  @media only screen and (min-width: 480px) {
    section.intro h1 {
      font-size: 26px; } }
  @media only screen and (min-width: 768px) {
    section.intro h1 {
      font-size: 30px; } }
  @media only screen and (min-width: 1024px) {
    section.intro h1 {
      font-size: 33px; } }
  @media only screen and (min-width: 1200px) {
    section.intro h1 {
      font-size: 33px; } }

section.intro p {
  font-family: "open-sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4c4c4c; }
  @media only screen and (max-width: 375px) {
    section.intro p {
      font-size: 8px;
      line-height: 18px; } }
  @media only screen and (min-width: 480px) {
    section.intro p {
      font-size: 16px;
      line-height: 30px; } }
  @media only screen and (min-width: 768px) {
    section.intro p {
      font-size: 20px;
      line-height: 32px; } }
  @media only screen and (min-width: 1024px) {
    section.intro p {
      font-size: 24px;
      line-height: 38px; } }
  @media only screen and (min-width: 1200px) {
    section.intro p {
      font-size: 24px;
      line-height: 38px; } }

section.news {
  background-color: #263b94; }

section.news img {
  margin-top: 30px; }

section.news h2 {
  font-family: "open-sans-condensed", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase; }
  @media only screen and (max-width: 375px) {
    section.news h2 {
      font-size: 8px; } }
  @media only screen and (min-width: 480px) {
    section.news h2 {
      font-size: 16px; } }
  @media only screen and (min-width: 768px) {
    section.news h2 {
      font-size: 20px; } }
  @media only screen and (min-width: 1024px) {
    section.news h2 {
      font-size: 24px; } }
  @media only screen and (min-width: 1200px) {
    section.news h2 {
      font-size: 28px; } }

section.news p {
  font-family: "open-sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 30px; }
  @media only screen and (max-width: 375px) {
    section.news p {
      font-size: 8px;
      line-height: 18px; } }
  @media only screen and (min-width: 480px) {
    section.news p {
      font-size: 12px;
      line-height: 18px; } }
  @media only screen and (min-width: 768px) {
    section.news p {
      font-size: 14px;
      line-height: 24px; } }
  @media only screen and (min-width: 1024px) {
    section.news p {
      font-size: 18px;
      line-height: 28px; } }
  @media only screen and (min-width: 1200px) {
    section.news p {
      font-size: 18px;
      line-height: 28px; } }

section.vids h2 {
  font-family: "open-sans-condensed", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #263b94;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0; }
  @media only screen and (max-width: 375px) {
    section.vids h2 {
      font-size: 8px; } }
  @media only screen and (min-width: 480px) {
    section.vids h2 {
      font-size: 16px; } }
  @media only screen and (min-width: 768px) {
    section.vids h2 {
      font-size: 20px; } }
  @media only screen and (min-width: 1024px) {
    section.vids h2 {
      font-size: 24px; } }
  @media only screen and (min-width: 1200px) {
    section.vids h2 {
      font-size: 28px; } }

section.vids .vidGal {
  margin: 0 0 40px 0;
  padding: 0; }

footer {
  background-color: #ccc; }

footer h4 {
  font-family: "open-sans-condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #263b94;
  text-transform: uppercase;
  margin: 40px 0 0 0;
  padding: 0; }
  @media only screen and (max-width: 375px) {
    footer h4 {
      font-size: 8px; } }
  @media only screen and (min-width: 480px) {
    footer h4 {
      font-size: 16px; } }
  @media only screen and (min-width: 768px) {
    footer h4 {
      font-size: 20px; } }
  @media only screen and (min-width: 1024px) {
    footer h4 {
      font-size: 24px; } }
  @media only screen and (min-width: 1200px) {
    footer h4 {
      font-size: 28px; } }

footer ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: none; }

footer li {
  margin: 5px 0;
  padding: 0; }

footer a, a:hover {
  color: #4c4c4c; }

footer .nav3Login .txtLog {
  width: 285px;
  height: 35px;
  color: #263b94;
  font-family: "open-sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border-style: solid;
  border-color: #263b94;
  border-width: 1px;
  margin: 10px 0;
  padding: 0;
  padding-left: 6px; }
  @media only screen and (max-width: 375px) {
    footer .nav3Login .txtLog {
      font-size: 8px; } }
  @media only screen and (min-width: 480px) {
    footer .nav3Login .txtLog {
      font-size: 16px; } }
  @media only screen and (min-width: 768px) {
    footer .nav3Login .txtLog {
      font-size: 20px; } }
  @media only screen and (min-width: 1024px) {
    footer .nav3Login .txtLog {
      font-size: 24px; } }
  @media only screen and (min-width: 1200px) {
    footer .nav3Login .txtLog {
      font-size: 28px; } }

footer .nav3Login .butSub {
  width: 184px;
  height: 35px;
  color: #fff;
  font-family: "open-sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border-style: solid;
  background-color: #263b94;
  margin: 10px 0;
  padding: 0;
  border-radius: 10px; }
  @media only screen and (max-width: 375px) {
    footer .nav3Login .butSub {
      font-size: 8px; } }
  @media only screen and (min-width: 480px) {
    footer .nav3Login .butSub {
      font-size: 16px; } }
  @media only screen and (min-width: 768px) {
    footer .nav3Login .butSub {
      font-size: 20px; } }
  @media only screen and (min-width: 1024px) {
    footer .nav3Login .butSub {
      font-size: 24px; } }
  @media only screen and (min-width: 1200px) {
    footer .nav3Login .butSub {
      font-size: 28px; } }

footer .fooSoMe {
  font-size: 40px;
  text-align: center;
  margin: 20px 0;
  padding: 0; }
  @media only screen and (max-width: 375px) {
    footer .fooSoMe {
      font-size: 8px; } }
  @media only screen and (min-width: 480px) {
    footer .fooSoMe {
      font-size: 16px; } }
  @media only screen and (min-width: 768px) {
    footer .fooSoMe {
      font-size: 20px; } }
  @media only screen and (min-width: 1024px) {
    footer .fooSoMe {
      font-size: 24px; } }
  @media only screen and (min-width: 1200px) {
    footer .fooSoMe {
      font-size: 28px; } }

footer .fooSoMe ul {
  margin: 0;
  padding: 0; }

footer .fooSoMe li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 0 0 5px;
  padding: 0; }

footer .fooSoMe a {
  color: #263b94; }

footer .fooCopy {
  color: #263b94;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0; }
  @media only screen and (max-width: 375px) {
    footer .fooCopy {
      font-size: 8px; } }
  @media only screen and (min-width: 480px) {
    footer .fooCopy {
      font-size: 16px; } }
  @media only screen and (min-width: 768px) {
    footer .fooCopy {
      font-size: 20px; } }
  @media only screen and (min-width: 1024px) {
    footer .fooCopy {
      font-size: 24px; } }
  @media only screen and (min-width: 1200px) {
    footer .fooCopy {
      font-size: 28px; } }

.myOlark {
  display: none; }
