/* Sass Document */

/********** vars **********/
$color-broBlu: #263b94;
$color-txt: #4c4c4c;
$color-grey: #ccc;
$color-white: #fff;
$color-black: #000;
$font-main: "myriad-pro", sans-serif;
$font-second: "open-sans", sans-serif;
$font-third: "open-sans-condensed", sans-serif;
$width-xxs: 375px;
$width-xs: 480px;
$width-sm: 768px;
$width-md: 1024px;
$width-lg: 1200px;

/********** mixins **********/
@mixin h1 {
	font-family: $font-third;
	font-size: 22px;
	font-weight: bold;
	color: $color-broBlu;
	text-transform: uppercase;
}
@mixin h2 {
	font-family: $font-third;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: $color-broBlu;
	text-transform: uppercase;
}
@mixin h2w {
	font-family: $font-third;
	font-size: 28px;
	font-weight: bold;
	color: $color-white;
	text-transform: uppercase;
}
@mixin h4 {
	font-family: $font-third;
	font-size: 24px;
	font-weight: bold;
	color: $color-broBlu;
	text-transform: uppercase;
}
@mixin p1 {
	font-family: $font-second;
	font-size: 14px;
	line-height: 20px;
	color: $color-txt;
}
@mixin p2 {
	font-family: $font-second;
	font-size: 18px;
	line-height: 28px;
	color: $color-txt;
	padding: 10px 0;
}
@mixin p2w {
	font-family: $font-second;
	font-size: 18px;
	line-height: 28px;
	color: $color-white;
	padding: 10px 0;
}
@mixin liInline {
	display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@mixin marC {
    margin: 0 auto;
    padding: 0;
}
@mixin mar0 {
    margin: 0;
    padding: 0;
}
@mixin mar3v {
    margin: 3px 0;
    padding: 0;
}
@mixin mar5 {
    margin: 5px;
    padding: 0;
}
@mixin mar5h {
    margin: 0 5px;
    padding: 0;
}
@mixin mar5hl {
    margin: 0 0 0 5px;
    padding: 0;
}
@mixin mar5v {
    margin: 5px 0;
    padding: 0;
}
@mixin mar10 {
    margin: 10px;
    padding: 0;
}
@mixin mar10h {
    margin: 0 10px;
    padding: 0;
}
@mixin mar10hl {
    margin: 0 0 0 10px;
    padding: 0;
}
@mixin mar10v {
    margin: 10px 0;
    padding: 0;
}
@mixin mar10vc {
    margin: 10px auto;
    padding: 0;
}
@mixin mar20 {
    margin: 20px;
    padding: 0;
}
@mixin mar20h {
    margin: 0 20px;
    padding: 0;
}
@mixin mar20hl {
    margin: 0 0 0 20px;
    padding: 0;
}
@mixin mar20v {
    margin: 20px 0;
    padding: 0;
}
@mixin mar20vb {
    margin: 0 0 20px 0;
    padding: 0;
}
@mixin mar40 {
    margin: 40px;
    padding: 0;
}
@mixin mar40h {
    margin: 0 40px;
    padding: 0;
}
@mixin mar40v {
    margin: 40px 0;
    padding: 0;
}
@mixin mar40vt {
    margin: 40px 0 0 0;
    padding: 0;
}
@mixin mar40vb {
    margin: 0 0 40px 0;
    padding: 0;
}

/********** media queries **********/
@mixin responsive($width) {
	@if $width == xxs {
		@media only screen and (max-width: $width-xxs) {
			@content;
		}
	}
	@else if $width == xs {
		@media only screen and (min-width: $width-xs) {
			@content;
		}
	}
	@else if $width == sm {
		@media only screen and (min-width: $width-sm) {
			@content;
		}
	}
	@else if $width == md {
		@media only screen and (min-width: $width-md) {
			@content;
		}
	}
	@else if $width == lg {
		@media only screen and (min-width: $width-lg) {
			@content;
		}
	}
}

/********** styles **********/
html, body {
	position: relative;
}
body {
 	background-color: $color-white;
}
/* mobile views */
.mobViews {
	display: block;
	@include responsive(xs) {
		display: none;
	}
}
.mobPho {
	width: 303px;
	@include mar10vc;
}
.mobFea {
	@include mar20h;
}
.mobFea h1 {
	@include h1;
}
.mobFea p {
	@include p1;
	margin: 3px 0 15px 0;
	padding: 0;
}
.mobFea h2 {
	@include h2;
	@include mar3v;
}
.mobFea h2 a {
	color: $color-broBlu;
}
.mobSlider {
	margin: 20px 0 0 0;
}
.mobSearch {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $color-broBlu;
	text-align: center;
	color: $color-white;
	padding: 15px 0;
}
.mobSearch input {
	background-color: $color-broBlu;
	width: 275px;
	height: 35px;
	font-family: $font-second;
	font-size: 14px;
	text-transform: uppercase;
    border-style: solid;
	border-color: $color-white;
	border-width: 1px;
	border-radius: 5px;
	padding: 0 10px;
}

.slider {
	display: none;
	@include responsive(xs) {
		display: block;
	}
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	/*text-align: center;
	font-size: 18px;
	/* Center slide text vertically *
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;*/
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 150px;
	@include responsive(xxs) {
        width: 200px;
        height: 150px;
	}
	@include responsive(xs) {
        width: 300px;
        height: 200px;
	}
	@include responsive(sm) {
        width: 400px;
        height: 400px;
	}
	@include responsive(md) {
        width: 761px;
        height: 450px;
	}
	@include responsive(lg) {
        width: 761px;
        height: 450px;
	}
}
.swiper-pagination {
	/*position: absolute;
	top: 400px;*/
}
/*.swiper-slide img {
	width: 100%;
	height: auto;
}
.nonSwiper {
	width: 303px;
	display: block;
	@include marC;
	@include responsive(xs) {
		display: none;
	}
}*/
.logo {
	@include mar20v;
	min-width: 100px;
}
nav {
	@include mar20v;
}
.navMain {
	font-family: $font-third;
	font-weight: bold;
	font-size: 28px;
	color: $color-broBlu;
	text-align: right;
	text-transform: uppercase;
	display: none;
	@include responsive(xxs) {
		display: none;
	}
	@include responsive(xs) {
		display: none;
	}
	@include responsive(sm) {
		display: none;
	}
	@include responsive(md) {
		font-size: 26px;
		display: block;
	}
	@include responsive(lg) {
		font-size: 28px;
		display: block;
	}
}
.navMain ul {
	@include mar0;
}
.navMain li {
	@include liInline;
	@include mar20hl;
}
.navMain a {
	color: $color-broBlu;
}
.navSec {
	font-family: $font-third;
	font-size: 30px;
	color: $color-broBlu;
	text-align: right;
	display: none;
	@include responsive(xxs) {
		display: none;
	}
	@include responsive(xs) {
		display: none;
	}
	@include responsive(sm) {
		display: none;
	}
	@include responsive(md) {
		font-size: 30px;
		display: block;
	}
	@include responsive(lg) {
		font-size: 30px;
		display: block;
	}
}
.navSec ul {
	@include mar0;
}
.navSec li {
	@include liInline;
	@include mar5hl;
}
.navSec a {
	color: $color-broBlu;
}
.navMobile {
	font-size: 23px;
	color: $color-broBlu;
	text-align: right;
	display: block;
	@include responsive(sm) {
		display: block;
		font-size: 30px;
	}
	@include responsive(md) {
		display: none;
	}
	@include responsive(lg) {
		display: none;
	}
}
/* non mobile views */
.nonMob {
	display: none;
	@include responsive(xs) {
		display: block;
	}
}
.prodSearch {
	text-align: center;
	color: $color-broBlu;
	@include mar20v;
	display: none;
}
.prodSearch input {
	width: 300px;
	height: 20px;
	font-family: $font-second;
	font-size: 12px;
	text-transform: uppercase;
    border-style: solid;
	border-color: $color-broBlu;
	border-width: 1px;
	border-radius: 5px;
	padding: 0 10px;
	@include responsive(xxs) {
		width: 300px;
		height: 20px;
		font-size: 12px;
		border-radius: 5px;
		padding: 0 10px;
	}
	@include responsive(xs) {
		width: 400px;
		height: 30px;
		font-size: 16px;
		border-radius: 10px;
		padding: 0 10px;
	}
	@include responsive(sm) {
		width: 500px;
		height: 40px;
		font-size: 18px;
		border-radius: 10px;
		padding: 0 10px;
	}
	@include responsive(md) {
		width: 650px;
		height: 50px;
		font-size: 20px;
		border-radius: 10px;
		padding: 0 36px;
	}
	@include responsive(lg) {
		width: 650px;
		height: 50px;
		font-size: 22px;
		border-radius: 10px;
		padding: 0 36px;
	}
}
.relSearch {
	position: relative;
	width: 300px;
	@include marC;
	@include responsive(xxs) {
		width: 300px;
	}
	@include responsive(xs) {
		width: 400px;
	}
	@include responsive(sm) {
		width: 500px;
	}
	@include responsive(md) {
		width: 650px;
	}
	@include responsive(lg) {
		width: 650px;
	}
}
.relSearch .icoSearch {
	position: absolute;
	top: 16px;
	left: 8px;
	font-size: 19px;
	display: none;
	@include responsive(md) {
		display: block;
	}
	@include responsive(lg) {
		display: block;
	}
}
section.intro h1 {
	@include h1;
	@include responsive(xxs) {
		font-size: 22px;
	}
	@include responsive(xs) {
		font-size: 26px;
	}
	@include responsive(sm) {
		font-size: 30px;
	}
	@include responsive(md) {
		font-size: 33px;
	}
	@include responsive(lg) {
		font-size: 33px;
	}
}
section.intro p {
	@include p1;
	@include responsive(xxs) {
		font-size: 8px;
		line-height: 18px;
	}
	@include responsive(xs) {
		font-size: 16px;
		line-height: 30px;
	}
	@include responsive(sm) {
		font-size: 20px;
		line-height: 32px;
	}
	@include responsive(md) {
		font-size: 24px;
		line-height: 38px;
	}
	@include responsive(lg) {
		font-size: 24px;
		line-height: 38px;
	}
}
section.news {
	background-color: $color-broBlu;
}
section.news img {
	margin-top: 30px;
}
section.news h2 {
	@include h2w;
	@include responsive(xxs) {
		font-size: 8px;
	}
	@include responsive(xs) {
		font-size: 16px;
	}
	@include responsive(sm) {
		font-size: 20px;
	}
	@include responsive(md) {
		font-size: 24px;
	}
	@include responsive(lg) {
		font-size: 28px;
	}
}
section.news p {
	@include p2w;
	margin-bottom: 30px;
	@include responsive(xxs) {
		font-size: 8px;
		line-height: 18px;
	}
	@include responsive(xs) {
		font-size: 12px;
		line-height: 18px;
	}
	@include responsive(sm) {
		font-size: 14px;
		line-height: 24px;
	}
	@include responsive(md) {
		font-size: 18px;
		line-height: 28px;
	}
	@include responsive(lg) {
		font-size: 18px;
		line-height: 28px;
	}
}
section.vids h2 {
	@include h2;
	@include mar20v;
	@include responsive(xxs) {
		font-size: 8px;
	}
	@include responsive(xs) {
		font-size: 16px;
	}
	@include responsive(sm) {
		font-size: 20px;
	}
	@include responsive(md) {
		font-size: 24px;
	}
	@include responsive(lg) {
		font-size: 28px;
	}
}
section.vids .vidGal {
	@include mar40vb;
}
footer {
	background-color: $color-grey;
}
footer h4 {
	@include h4;
	@include mar40vt;
	@include responsive(xxs) {
		font-size: 8px;
	}
	@include responsive(xs) {
		font-size: 16px;
	}
	@include responsive(sm) {
		font-size: 20px;
	}
	@include responsive(md) {
		font-size: 24px;
	}
	@include responsive(lg) {
		font-size: 28px;
	}
}
footer ul {
	@include mar10v;
    list-style-type: none;
}
footer li {
	@include mar5v;
}
footer a, a:hover {
	color: $color-txt;
}
footer .nav3Login .txtLog {
	width: 285px;
	height: 35px;
	color: $color-broBlu;
	font-family: $font-second;
	font-size: 16px;
	text-transform: uppercase;
    border-style: solid;
	border-color: $color-broBlu;
	border-width: 1px;
	@include mar10v;
	padding-left: 6px;
	@include responsive(xxs) {
		font-size: 8px;
	}
	@include responsive(xs) {
		font-size: 16px;
	}
	@include responsive(sm) {
		font-size: 20px;
	}
	@include responsive(md) {
		font-size: 24px;
	}
	@include responsive(lg) {
		font-size: 28px;
	}
}
footer .nav3Login .butSub {
	width: 184px;
	height: 35px;
	color: $color-white;
	font-family: $font-second;
	font-size: 16px;
	text-transform: uppercase;
    border-style: solid;
	background-color: $color-broBlu;
	@include mar10v;
	border-radius: 10px;
	@include responsive(xxs) {
		font-size: 8px;
	}
	@include responsive(xs) {
		font-size: 16px;
	}
	@include responsive(sm) {
		font-size: 20px;
	}
	@include responsive(md) {
		font-size: 24px;
	}
	@include responsive(lg) {
		font-size: 28px;
	}
}
footer .fooSoMe {
	font-size: 40px;
	text-align: center;
	@include mar20v;
	@include responsive(xxs) {
		font-size: 8px;
	}
	@include responsive(xs) {
		font-size: 16px;
	}
	@include responsive(sm) {
		font-size: 20px;
	}
	@include responsive(md) {
		font-size: 24px;
	}
	@include responsive(lg) {
		font-size: 28px;
	}
}
footer .fooSoMe ul {
	@include mar0;
}
footer .fooSoMe li {
	@include liInline;
	@include mar5hl;
}
footer .fooSoMe a {
	color: $color-broBlu;
}
footer .fooCopy {
	color: $color-broBlu;
	text-align: center;
	@include mar20vb;
	@include responsive(xxs) {
		font-size: 8px;
	}
	@include responsive(xs) {
		font-size: 16px;
	}
	@include responsive(sm) {
		font-size: 20px;
	}
	@include responsive(md) {
		font-size: 24px;
	}
	@include responsive(lg) {
		font-size: 28px;
	}
}
.myOlark {
	display: none;
}

